body {
  background: $color-primary;
  border: 10px solid $color-secondary;
  border-bottom: none;
  color: $color-body-font;
  font-family: $font-mono;

  @include device(s) {
    border: none;
  }
}

img {
  display: block;
  max-width: 100%;
}

.title {
  height: min-content;
  display: flex;
  align-items: center;
  gap: 10px;

  @include type1(18);
  text-transform: uppercase;

  @include device(s) {
    margin-bottom: 40px;
  }

  &::after {
    content: '';
    width: 70%;
    height: 2px;
    background: $color-body-font;
  }
}
