.intro {
  margin-top: 60px;
}

.operation {
  grid-column: 1/5;

  img {
    margin-bottom: 60px;
  }
}

.operation .intro-info {
  @include type1(18);
  border-right: 2px solid #000;
  max-width: 280px;

  p {
    padding: 10px 0;
  }
  p:first-child {
    border-bottom: 2px solid #000;
  }
}

.intro-telephone {
  color: $color-font;

  &::after {
    content: '////';
    display: block;
    font-size: 220px;
    letter-spacing: -50px;
    margin-top: 100px;
    color: $color-body-font;

    @include device(m) {
      font-size: 128px;
      letter-spacing: -20px;
      margin-top: 20px;
    }

    @include device(s) {
      display: none;
    }
  }
}

.image-intro {
  grid-column: -8/-1;
  width: 100%;

  @include device(s) {
    max-width: 80%;
    margin: 40px auto;
  }

  img {
    width: 100%;
    border: 10px solid $color-secondary;
  }
}

.menu {
  margin-top: 120px;
  margin-bottom: 120px;

  @include device(s) {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .title {
    grid-column: 1/5;

    @include device(s) {
      margin-bottom: 40px;
    }
  }
}

.menu .menu-item {
  grid-column: -8/-1;
  display: flex;
  align-items: center;
  margin-bottom: 60px;

  h2 {
    @include type2(24);
    margin-bottom: 1em;
  }

  ul li {
    @include type1(18);

    span {
      @include type2(18);
      color: $color-font;
      margin-left: -80px;

      @include device(s) {
        margin-left: 0;
      }
    }
  }

  img {
    margin: 0 auto;
    border-radius: 50%;
    border: 10px solid $color-secondary;

    @include device(m) {
      width: 40%;
    }

    @include device(s) {
      width: 30%;
    }
  }
}

.contact {
  margin-bottom: 120px;

  @include device(s) {
    margin-bottom: 60px;
  }

  .title {
    grid-column: 1/5;
  }

  .contact-container {
    grid-column: -8/-1;
  }
}

.contact .contact-container {
  form {
    label {
      width: min-content;
      display: block;
      @include type1(18);
    }

    .inputs {
      display: grid;
      grid-template-columns: 60% 1fr;
      gap: 20px;
    }

    input,
    textarea {
      @include type1(18);
      width: 100%;
      min-height: 40px;

      background: transparent;
      outline: none;
      border: 2px solid $color-font;

      resize: none;
      margin-bottom: 1em;
      padding: 5px 10px;
    }

    textarea {
      height: 120px;
    }

    .send {
      display: block;
      cursor: pointer;
      width: 200px;

      @include type1(18);
      color: $color-font;

      background: transparent;
      outline: none;
      border: 1px solid $color-font;
      box-shadow: 5px 5px 0 -2px $color-secondary, 5px 5px 0 0 $color-font;

      transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
      &:hover {
        box-shadow: 3px 3px 0 -2px $color-secondary, 3px 3px 0 0 $color-font;
      }
    }
  }

  .contact-info {
    @include type1(18);
    color: $color-font;
    margin: 2em 0 3em;
  }

  .contact-map img {
    border: 10px solid $color-secondary;
  }
}

footer {
  padding: 20px 0;
  background: $color-body-font;
  box-shadow: 0 0 0 10px $color-body-font;
  color: $color-primary;

  p {
    grid-column: 1/8;
    @include type1(18);
  }

  img {
    grid-column: -1;
  }

  .container {
    @include device(s) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;

      p {
        text-align: center;
      }
    }
  }
}
